.tiled-list {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 200px auto 0 auto;
    row-gap: 70px;

    .card {
        width: calc(50% - 10px);


        @media screen and (min-width : 500px) {
            width: calc(33% - 10px);
        }

        @media screen and (min-width : 900px) {
            width: calc(25% - 10px);
        }

        @media screen and (min-width : 1200px) {
            width: calc(20% - 10px);
        }

        @media screen and (min-width : 1500px) {
            width: calc(16.5% - 10px);
        }
    }
}