@import "../variables";

.recommendation-tile {
    // background-color: #2f2f2f;
    overflow: visible;
    cursor: pointer;

    .img-container {
        img {
            width: 100%;
            border-radius: 4px 4px 0 0;
            overflow: hidden;
            vertical-align: bottom;
        }

        h2 {}
    }

    .recommendation-content {
        margin: auto;
        padding: 10px 15px 20px 15px;
        height: 140px;
        overflow: visible;
        border-radius: 5px;
        background-color: $PreviewTileBgColor;


        .legend {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10px;

            img {}

            h2 {
                color: white;
                line-height: none;
            }
        }

        .tile-description {
            p {
                color: rgb(211, 211, 211);
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
            }
        }
    }
}