@import "../../variables";



//preview
$smallHeaderFontSize : 24px; //h3
$smallFontSize : 16px;
$smallerFontSize : 14px; //label link

.preview-outer {
    width: 100%;
    background-color: #00000085;
    height: 100vh;
    overflow: auto;
    position: absolute;
    z-index: 4;
    top: 0;


    //all titles
    h3 {
        font-size: $smallFontSize;
    }

    h2 {
        font-size: $smallHeaderFontSize;
    }

    //
    span,
    a,
    p {
        font-size: $smallerFontSize;
    }
}

.preview-inner {
    max-width: 900px;
    background-color: $PreviewBgColor;
    margin: 30px auto 0 auto;
    border-radius: 10px;
    overflow: hidden;

    .bg-image {
        position: relative;

        img {
            width: 100%
        }

        .bg__buttons {
            position: absolute;
            bottom: 40px;
            z-index: 1;
            left: 5%;

            &>h1 {}

            .preview-options {
                display: flex;
                align-content: center;
                align-items: center;
                column-gap: 10px;

                button {}
            }
        }
    }
}

.preview-content {
    width: 90%;
    margin: auto;
    padding-bottom: 20px;

    .preview-info {
        width: 100%;
        overflow: auto;

        label {}

        .show-info {
            margin: 10px 0;
            width: 50%;
            float: left;
            font-size: $smallerFontSize;

            &>span {
                font-weight: bold;
            }

            &>p {
                margin: 5px 0;
            }
        }

        .show-extra-info {
            width: 40%;
            float: right;
            font-size: $smallerFontSize;



            label {}
        }

    }

    .episodes-container {
        .legend {
            display: flex;
            justify-content: space-between;
            padding: 1rem 0;

            button {
                width: 150px;
                font-weight: bold;
                font-size: 1.5rem;
                color: white;
                background-color: $PreviewSeasonDropdownButtonColor;
                border: 1px solid $PreviewSeasonDropdownBorderColor;
                position: relative;
                cursor: pointer;

                .seasons-dropdown {
                    position: absolute;
                    width: 200px;
                    background-color: $PreviewSeasonDropdownButtonColor;
                    border: inherit;
                    z-index: 1;
                    top: 27px;
                    right: -1px;
                    cursor: pointer;

                    ul {
                        li {
                            padding: 5px 0;

                            &:hover {
                                background-color: #555555;
                            }
                        }
                    }
                }


            }

        }

        .episode-list {
            .episode-tile:nth-of-type(2) {
                background-color: $PreviewEpisodesBorderColor;
            }


        }
    }

    .collections-container {}

    .recommendation-container {

        &>h2 {
            margin-bottom: 20px;
        }



        .recommendation-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;

        }
    }

    .credits {
        margin: 30px 0 0 10px;

        h3 {}
    }

}



.label-grey {
    color: $PreviewSpanColor;
}

.separator {
    margin: 10px 0;
}